################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/.vs/StudentsList/v15
/.vs/VIPZ/v15
/.vs
/VIPZ/Debug
